In [1]:
import numpy as np
import pandas as pd

In [2]:
dict = {
    "name" : ["ritesh", "manish" , "ashish" , "nitish"],
    "age" : [21 , 23 , 24 , 19]
}

In [10]:
df = pd.DataFrame(dict)

In [11]:
df

     name  age
0  ritesh   21
1  manish   23
2  ashish   24
3  nitish   19

In [5]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
df.name[1]

'manish'

In [12]:
df.head(2)

     name  age
0  ritesh   21
1  manish   23

In [13]:
df.tail(3)

     name  age
1  manish   23
2  ashish   24
3  nitish   19

In [14]:
df.describe() # it get mathematical data

             age
count   4.000000
mean   21.750000
std     2.217356
min    19.000000
25%    20.500000
50%    22.000000
75%    23.250000
max    24.000000

#  to take csv file

In [15]:
finance = pd.read_csv("CSV.csv")

In [16]:
finance

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [17]:
finance.discribe()

AttributeError: 'DataFrame' object has no attribute 'discribe'

In [32]:
type(finance["Value"].describe())

pandas.core.series.Series

In [34]:
finance["Year"][0] = 10

C:\Users\Ritesh\AppData\Local\Temp/ipykernel_11180/3527107079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finance["Year"][0] = 10

In [36]:
finance.head(3)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,10,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...

# change index

In [40]:
finance.index = finance["Year"]

In [41]:
finance.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,,
10,10,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
2020,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2020,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
2020,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
2020,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...

In [43]:
finance.dtypes  # to checking the datatype of every field

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

# convert to numpy array

In [44]:
finance.to_numpy()

array([[10, 'Level 1', '99999', ..., 'Financial performance', '733,258',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2020, 'Level 1', '99999', ..., 'Financial performance',
        '660,630',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2020, 'Level 1', '99999', ..., 'Financial performance', '54,342',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       ...,
       [2013, 'Level 3', 'ZZ11', ..., 'Financial ratios', '12',
        'ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119'],
       [2013, 'Level 3', 'ZZ11', ..., 'Financial ratios', '5',
        'ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119'],
       [2013, 'Level 3', 'ZZ11', ..., 'Financial ratios', '46',
        'ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119']],
      dtype=object)

## Transpose (convert row to column)

In [45]:
finance.T

Year,10,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013
Year,10,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013
Industry_aggregation_NZSIOC,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,...,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3
Industry_code_NZSIOC,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,...,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11
Industry_name_NZSIOC,All industries,All industries,All industries,All industries,All industries,All industries,All industries,All industries,All industries,All industries,...,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing
Units,Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),...,Dollars (millions),Dollars (millions),Dollars,Dollars,Percentage,Percentage,Percentage,Percentage,Percentage,Percentage
Variable_code,H01,H04,H05,H07,H08,H09,H10,H11,H12,H13,...,H32,H33,H34,H35,H36,H37,H38,H39,H40,H41
Variable_name,Total income,"Sales, government funding, grants and subsidies","Interest, dividends and donations",Non-operating income,Total expenditure,Interest and donations,Indirect taxes,Depreciation,Salaries and wages paid,Redundancy and severance,...,Current liabilities,Other liabilities,Total income per employee count,Surplus per employee count,Current ratio,Quick ratio,Margin on sales of goods for resale,Return on equity,Return on total assets,Liabilities structure
Variable_category,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,...,Financial position,Financial position,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios
Value,"733,258","660,630","54,342","18,285","654,872","32,730","7,509","26,821","119,387",305,...,"10,212","2,220","523,700","17,700",91,52,40,12,5,46
Industry_code_ANZSIC06,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,...,"ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [50]:
finance.sort_index(axis = 1 , ascending = False)   # defalut ascending is True

,Year,Variable_name,Variable_code,Variable_category,Value,Units,Industry_name_NZSIOC,Industry_code_NZSIOC,Industry_code_ANZSIC06,Industry_aggregation_NZSIOC
Year,,,,,,,,,,
10,10,Total income,H01,Financial performance,"733,258",Dollars (millions),All industries,99999,ANZSIC06 divisions A-S (excluding classes K633...,Level 1
2020,2020,"Sales, government funding, grants and subsidies",H04,Financial performance,"660,630",Dollars (millions),All industries,99999,ANZSIC06 divisions A-S (excluding classes K633...,Level 1
2020,2020,"Interest, dividends and donations",H05,Financial performance,"54,342",Dollars (millions),All industries,99999,ANZSIC06 divisions A-S (excluding classes K633...,Level 1
2020,2020,Non-operating income,H07,Financial performance,"18,285",Dollars (millions),All industries,99999,ANZSIC06 divisions A-S (excluding classes K633...,Level 1
2020,2020,Total expenditure,H08,Financial performance,"654,872",Dollars (millions),All industries,99999,ANZSIC06 divisions A-S (excluding classes K633...,Level 1
...,...,...,...,...,...,...,...,...,...,...
2013,2013,Quick ratio,H37,Financial ratios,52,Percentage,Food product manufacturing,ZZ11,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",Level 3
2013,2013,Margin on sales of goods for resale,H38,Financial ratios,40,Percentage,Food product manufacturing,ZZ11,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",Level 3
2013,2013,Return on equity,H39,Financial ratios,12,Percentage,Food product manufacturing,ZZ11,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",Level 3
2013,2013,Return on total assets,H40,Financial ratios,5,Percentage,Food product manufacturing,ZZ11,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",Level 3
2013,2013,Liabilities structure,H41,Financial ratios,46,Percentage,Food product manufacturing,ZZ11,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",Level 3

In [53]:
finance.drop("Value" , axis = 1)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Industry_code_ANZSIC06
Year,,,,,,,,,
10,10,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,ANZSIC06 divisions A-S (excluding classes K633...
2020,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,ANZSIC06 divisions A-S (excluding classes K633...
2020,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,ANZSIC06 divisions A-S (excluding classes K633...
2020,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,ANZSIC06 divisions A-S (excluding classes K633...
2020,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
2013,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

## use of loc ad iloc

In [59]:
finance.loc[0,0] = 43 # for loc we have to type the proper name of column or the index

In [56]:
finance

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,0
Year,,,,,,,,,,,
10,10.0,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2020,2020.0,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2020,2020.0,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2020,2020.0,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2020,2020.0,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0

In [61]:
finance.drop(0 , axis = 1)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,,
10,10.0,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
2020,2020.0,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2020,2020.0,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
2020,2020.0,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
2020,2020.0,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## to get some row or some column

In [62]:
finance.loc[[10,2013] , ["Industry_aggregation_NZSIOC" , "Industry_name_NZSIOC"]]

     Industry_aggregation_NZSIOC        Industry_name_NZSIOC
Year
10                       Level 1              All industries
2013                     Level 1              All industries
2013                     Level 1              All industries
2013                     Level 1              All industries
2013                     Level 1              All industries
...                          ...                         ...
2013                     Level 3  Food product manufacturing
2013                     Level 3  Food product manufacturing
2013                     Level 3  Food product manufacturing
2013                     Level 3  Food product manufacturing
2013                     Level 3  Food product manufacturing

[4636 rows x 2 columns]

## select all column

In [69]:
finance.loc[[10] , "Units":]  # a:b a means start from there and b means end here if no a or b so select all.

,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,0
Year,,,,,,,
10,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...,NaN

## we can use the complex statements using loc

In [73]:
finance.loc[(finance["Year"] < 2015)]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,0
Year,,,,,,,,,,,
10,10.0,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2014,2014.0,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"573,570",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2014,2014.0,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"502,104",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2014,2014.0,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,641",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2014,2014.0,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"16,826",ANZSIC06 divisions A-S (excluding classes K633...,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
2013,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN

## we can use the number as well not mandatory to use name of coumn by usering iloc

In [74]:
finance.iloc[0,0]

10.0

# inplace set the changes as permanent

In [76]:
finance.drop("Industry_aggregation_NZSIOC" , axis = 1, inplace = True)

In [77]:
finance

,Year,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,0
Year,,,,,,,,,,
10,10.0,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2020,2020.0,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2020,2020.0,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2020,2020.0,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2020,2020.0,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...,NaN
...,...,...,...,...,...,...,...,...,...,...
2013,2013.0,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
2013,2013.0,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
2013,2013.0,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
2013,2013.0,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0

## to reset index

In [79]:
finance.reset_index(drop = True , inplace = True)

In [80]:
finance

,Year,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,0
0,10.0,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...,NaN
1,2020.0,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2,2020.0,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...,NaN
3,2020.0,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...,NaN
4,2020.0,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...,NaN
...,...,...,...,...,...,...,...,...,...,...
37076,2013.0,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
37077,2013.0,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
37078,2013.0,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
37079,2013.0,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN
37080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0

In [82]:
finance.loc[:,"Industry_code_NZSIOC"] = None  #setting all value of perticular column as none

In [83]:
finance.head()

,Year,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,0
0,10.0,None,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...,NaN
1,2020.0,None,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2,2020.0,None,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...,NaN
3,2020.0,None,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...,NaN
4,2020.0,None,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...,NaN

In [84]:
#checking value is none or not  (always use loc)
finance.loc[:,"Industry_code_NZSIOC"].isnull()

0        True
1        True
2        True
3        True
4        True
         ...
37076    True
37077    True
37078    True
37079    True
37080    True
Name: Industry_code_NZSIOC, Length: 37081, dtype: bool